.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f3aaaa;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  text-align: left;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #bcc1b5;
}

.sidebar button.active {
  background-color: #56d25a;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item h3 {
  margin-top: 10px;
  font-size: 16px;
}
